<% layout("/layouts/privacyBoilerplate.ejs") %>


   <section class="container py-5">
    <div class="text-center">
      <h1 class="fw-bold display-4">
        Free, emergency housing
        <br>
        for neighbours in need.
      </h1>

      <p class="text-secondary mt-4">
        Airbnb.org is a non-profit that provides free,
        short-term housing to people during disasters
        or other times of crisis.
      </p>

      <button class="btn btn-dark rounded-pill px-4 mt-3">
        Donate now
      </button>
    </div>

    <div class="text-center mt-5">
      <img
      src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=1200"
      class="img-fluid rounded-4 shadow"
      alt="emergency housing">

    </div>

    <div class="text-center mt-5">
      <h1 class="fw-bold">
        Reinventing short-term,
        <br>
        emergency stays.
      </h1>
      <p class="text-secondary mt-4">
        We believe that free, emergency housing in homes
        helps people recover. Because Airbnb.org is
        supported by Airbnb, 100% of donations fund
        emergency stays.
      </p>
    </div>
  </section>

  <section class="container py-5 text-center">
    <h1 class="fw-bold display-5">
      Globally successful.
    </h1>

    <p class="text-secondary mt-3">
      Together with hosts and donors, we’re making an impact.
    </p>

    <button class="btn btn-dark rounded-pill px-4 mt-3">
      View our response
    </button>

    <div class="row justify-content-center text-center mt-5 g-5">
      <div class="col-md-3">
        <h1 class="fw-bold">
          1.6m
        </h1>
        <p class="text-secondary">
          free nights
        </p>
      </div>

      <div class="col-md-3">
        <h1 class="fw-bold">
          250K
        </h1>
        <p class="text-secondary">
          people housed
        </p>
      </div>

      <div class="col-md-3">
        <h1 class="fw-bold">
          135
        </h1>

        <p class="text-secondary">
          countries supported
        </p>
      </div>
    </div>
      
  </section>

  <section class="container py-5 text-center">

    <h1 class="fw-bold display-5">
      Donations only fund
      <br>
      housing. Nothing else.
    </h1>

    <p class="text-secondary mt-3">
      Our model is unique. Operating costs are covered by Airbnb,
      so all public donations are used to fund free,
      emergency stays.
    </p>

    <div class="mt-5">
      <img
      src="https://images.unsplash.com/photo-1517486808906-6ca8b3f04846?q=80&w=1200"
      class="img-fluid rounded-4 shadow-sm" style="height:500px; width: 100%; object-fit:cover"
      alt="family">
    </div>
  </section>