<% layout("/layouts/privacyBoilerplate.ejs") %> 
  <section class="container py-5">
    <div class="text-center mb-3">
      <h1 class="fw-bold display-5">
        Discover your place at Airbnb
      </h1>
      <button class="btn btn-dark rounded-pill px-4 mt-3">
        Explore open roles
      </button>
    </div>

    <div class="text-center">
      <img
      src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1400"
      class="img-fluid rounded-4 shadow-sm"
      alt="team">
    </div>
  </section>

  <section class="container py-5 bg-dark text-white mb-5">
    <div class="text-center mb-5">
      <h1 class="fw-bold display-5">
        Work at one of the most creative places on Earth
      </h1>
      <p class="text-light">
        From our first three guests in 2007, Airbnb has welcomed
        1.5 billion arrivals, all thanks to our 5 million Hosts.
      </p>
    </div>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="card bg-dark border-0 text-white h-100">
          <img
          src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1200"
          class="card-img-top rounded-4"
          alt="work">
          <div class="card-body px-0">
            <h4 class="fw-bold">
              Live and Work Anywhere
            </h4>

            <p class="small text-light">
              We know there is no one-size-fits-all approach to work.
              That’s why we give our employees the flexibility to live
              and work anywhere in the world.
            </p>

            <button class="btn btn-light rounded-pill px-4 mt-2">
              Live and Work Anywhere
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-dark border-0 text-white h-100">
          <img
          src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?q=80&w=1200"
          class="card-img-top rounded-4"
          alt="team">
          <div class="card-body px-0">
            <h4 class="fw-bold">
              We welcome you
            </h4>
            <p class="small text-light">
              Creating connection and belonging in the world begins
              with a workplace where you’ll feel included and empowered
              to be your authentic self.
            </p>

            <button class="btn btn-light rounded-pill px-4 mt-2">
              Life at Airbnb
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-dark border-0 text-white h-100">
          <img
          src="https://images.unsplash.com/photo-1517457373958-b7bdd4587205?q=80&w=1200"
          class="card-img-top rounded-4"
          alt="impact">
          <div class="card-body px-0">
            <h4 class="fw-bold">
              Make an impact
            </h4>

            <p class="small text-light">
              Join our global creative community, where passion and
              collaboration drive innovation to make products that
              inspire all kinds of travel.
            </p>

            <button class="btn btn-light rounded-pill px-4 mt-2">
              Jobs at Airbnb
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5 ">
    <div class="text-center mb-5">
      <h1 class="fw-bold display-6">
        Open the door to your next role
      </h1>
    </div>

    <div class="row g-4">
      <div class="col-md-3">
        <div class="bg-dark text-white rounded-4 p-3 h-100 shadow-sm d-flex flex-column justify-content-between">
          <div>
            <h6 class="fw-bold">
              Live and Work Anywhere
            </h6>
          </div>
          <div>
            <button class="btn btn-dark rounded-circle">
              <i class="bi bi-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="bg-dark text-white rounded-4 p-3 h-100 d-flex flex-column justify-content-between">
          <div>
            <h2 class="fw-bold">
              235
            </h2>

            <h4 class="fw-bold">
              Open Positions
            </h4>
          </div>

          <div>
            <button class="btn btn-light rounded-circle">
              <i class="bi bi-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <img
        src="https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=1200"
        class="img-fluid rounded-4 shadow-sm h-100 object-fit-cover"
        alt="office">
      </div>


      <div class="col-md-3">
        <div class="bg-dark text-white rounded-4 p-3 shadow-sm">
          <h2 class="fw-bold">
            24
          </h2>

          <h4 class="fw-bold mb-4">
            Departments
          </h4>

          <div class="bg-white text-dark rounded-3 p-2 small">
            <div class="border-bottom py-2">
              Engineering
            </div>

            <div class="border-bottom py-2">
              Community Support
            </div>

            <div class="border-bottom py-2">
              Business Development
            </div>

            <div class="border-bottom py-2">
              Account Management
            </div>

            <div class="border-bottom py-2">
              Analytics
            </div>

            <div class="py-2">
              Business Operations
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mt-1">
      <div class="col-md-3">
        <img
        src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1200"
        class="img-fluid rounded-4 shadow-sm"
        alt="meeting">
      </div>

      <div class="col-md-3">
        <div class="bg-white rounded-4 p-4 shadow-sm h-100 d-flex flex-column justify-content-between">
          <div>
            <h5 class="fw-bold">
              Do the most amazing work of your career
            </h5>
          </div>
          <div class="text-end fs-1">
            🏡
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-dark rounded-pill px-4">
        Explore open roles
      </button>
    </div>
  </section>