<section class="bg-light py-5 border-top">

  <div class="container">

    <div class="row gy-5">

      <!-- Column 1 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Porto-Vecchio
        </p>

        <p class="text-secondary">
          Villa rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Bonita Beach
        </p>

        <p class="text-secondary">
          Holiday rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Kata Beach
        </p>

        <p class="text-secondary">
          Beachfront rentals
        </p>

      </div>

      <!-- Column 2 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Sosua Beach
        </p>

        <p class="text-secondary">
          House rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Whitecap Beach
        </p>

        <p class="text-secondary">
          Beachfront rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Playa San Diego
        </p>

        <p class="text-secondary">
          Monthly Rentals
        </p>

      </div>

      <!-- Column 3 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Rosarito Beach
        </p>

        <p class="text-secondary">
          Flat rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Pirates Beach
        </p>

        <p class="text-secondary">
          Beachfront rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Bean Point Beach
        </p>

        <p class="text-secondary">
          Beachfront rentals
        </p>

      </div>

      <!-- Column 4 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Punta Rucia
        </p>

        <p class="text-secondary">
          Monthly Rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Maryland Beach
        </p>

        <p class="text-secondary">
          House rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Armacao dos Buzios
        </p>

        <p class="text-secondary">
          Villa rentals
        </p>

      </div>

      <!-- Column 5 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Pipa Beach
        </p>

        <p class="text-secondary">
          Apartment rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Seacrest Beach
        </p>

        <p class="text-secondary">
          Pet-friendly rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          Cable Beach
        </p>

        <p class="text-secondary">
          Holiday rentals
        </p>

      </div>

      <!-- Column 6 -->
      <div class="col-lg-2 col-md-4 col-6">

        <p class="fw-semibold mb-0">
          Bridgetown
        </p>

        <p class="text-secondary">
          Apartment rentals
        </p>

        <p class="fw-semibold mb-0 mt-5">
          El Medano Beach
        </p>

        <p class="text-secondary">
          Holiday rentals
        </p>

        <p class="fw-semibold mt-5">
          Show more
          <i class="fa-solid fa-angle-down"></i>
        </p>

      </div>

    </div>

  </div>

</section>