<style>
  .footer-links p{
    cursor: pointer;
    transition: 0.2s;
  }

  .footer-links p:hover{
    text-decoration: underline;
    color: black !important;
  }
</style>

<div class="container-fluid bg-light py-5 border-top">

  <div class="row justify-content-between px-5 footer-links">

    <div class="col-md-3">
      <h5 class="fw-bold fs-6 mb-4">Support</h5>

      <a href="/artical/help" style="text-decoration: none;">
        <p class="text-muted small mb-3">Help Centre</p>
      </a>
      <a href="/artical/gethelp" style="text-decoration: none;">
        <p class="text-muted small mb-3">Get help with a safety issue</p>
      </a>
      <a href="/artical/aircover" style="text-decoration: none;">
        <p class="text-muted small mb-3">AirCover</p>
      </a>
      <a href="/artical/Anti" style="text-decoration: none;">
          <p class="text-muted small mb-3">Anti-discrimination</p>
      </a>
    <a href="/artical/disbility" style="text-decoration: none;">
        <p class="text-muted small mb-3">Disability support</p>
    </a>
    <a href="/artical/cancle" style="text-decoration: none;">
         <p class="text-muted small mb-3">Cancellation options</p>
    </a>
    <a href="/artical/repoter" style="text-decoration: none;">
       <p class="text-muted small mb-3">Report neighbourhood concern</p>
    </a>
     
    </div>

    <div class="col-md-3">
      <h5 class="fw-bold fs-6 mb-4">Hosting</h5>

      <p class="text-muted small mb-3">Airbnb your home</p>
      <p class="text-muted small mb-3">Airbnb your experience</p>
      <p class="text-muted small mb-3">Airbnb your service</p>
      <p class="text-muted small mb-3">AirCover for Hosts</p>
      <p class="text-muted small mb-3">Hosting resources</p>
      <p class="text-muted small mb-3">Community forum</p>
      <p class="text-muted small mb-3">Hosting responsibly</p>
      <p class="text-muted small mb-3">Join a free hosting class</p>
      <p class="text-muted small mb-3">Find a co-host</p>
      <p class="text-muted small mb-3">Refer a host</p>
    </div>

    <div class="col-md-3">
      <h5 class="fw-bold fs-6  mb-4">Airbnb</h5>

      <p class="text-muted small mb-3">2025 Summer Release</p>
      <p class="text-muted small mb-3">Newsroom</p>
      <p class="text-muted small mb-3">Careers</p>
      <p class="text-muted small mb-3">Investors</p>
      <p class="text-muted small mb-3">Airbnb.org emergency stays</p>
    </div>

  </div>

</div>