<% layout("/layouts/privacyBoilerplate.ejs") %>

  <div class="bg-light text-center p-5">
    <h3>Log in to contact us</h3>
    <p>This will help us quickly identify you and get you the right kind of help.</p>
    <button class="btn btn-danger me-2">Log In</button>
    <button class="btn btn-outline-danger">Sign Up</button>
  </div>

  <div class="container my-5">
    <h4 class="mb-4">These articles might help</h4>
    <div class="row">
      <div class="col-md-4">
        <h5>Getting started</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Create an account</li>
          <li class="list-group-item">Airbnb Referral Programme Terms and Conditions</li>
          <li class="list-group-item">Search for Airbnb home listings</li>
          <li class="list-group-item">Contacting hosts</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Your account</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Logging in if you’ve forgotten your password</li>
          <li class="list-group-item">Add or remove a payment method</li>
          <li class="list-group-item">Add a payout method</li>
          <li class="list-group-item">Deactivating or deleting your account</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Trust and safety</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Verifying your identity on Airbnb</li>
          <li class="list-group-item">What to do if a host isn’t responding</li>
          <li class="list-group-item">If a host asks you to pay outside Airbnb</li>
          <li class="list-group-item">Paying and communicating through Airbnb</li>
        </ul>
      </div>
    </div>
  </div>

 