<% layout("/layouts/privacyBoilerplate.ejs") %>


  <div class="bg-light text-center p-5">
    <h2>We’re here for you</h2>
    <a href="/signup">
      <button class="btn btn-danger">Log in or sign up</button>
    </a>
  </div>

  <div class="container my-5">
    <h3>Guides for getting started</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img src="../photo/air.png" class="card-img-top" alt="AirCover">
          <div class="card-body">
            <h5 class="card-title">AirCover for guests</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img src="../photo/air1.jpg" class="card-img-top" alt="Resources">
          <div class="card-body">
            <h5 class="card-title">Essential resources for new hosts</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <h3>Top articles</h3>
    <ul class="list-group">
      <li class="list-group-item">Cancel your home reservation as a guest</li>
      <li class="list-group-item">Change the date or time of your service or experience reservation</li>
      <li class="list-group-item">If your host cancels your home reservation</li>
      <li class="list-group-item">Payment methods accepted</li>
      <li class="list-group-item">Add or remove a payment method</li>
      <li class="list-group-item">When you’ll pay for your reservation</li>
    </ul>
  </div>


  <div class="container my-5">
    <h3>Explore more</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfaa92c2b46923d64/69c2abd6c641729550b23cf6/Our_Community_Policies@3x.png" class="card-img-top" alt="Policies">
          <div class="card-body">
            <h5 class="card-title">Our community policies</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltb91c25864a05fb71/69c2bba6735fd34c7b79e2e9/Safety_Tips_and_Guidelines.png" class="card-img-top" alt="Safety">
          <div class="card-body">
            <h5 class="card-title">Safety tips and guidelines</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container my-5 text-center">
    <h4>Need to get in touch?</h4>
    <button class="btn btn-primary">Contact us</button>
    <p class="mt-2"><a href="#">Give us feedback</a></p>
  </div>

 
