<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5 text-center">
    <h3 class="fw-bold display-4 mb-5">
      Join millions of <br>
      hosts on Airbnb
    </h3>

    <div class="row justify-content-center g-5">
      <div class="col-md-4">
        <div class="bg-white shadow-sm rounded-4 d-inline-flex 
        justify-content-center align-items-center p-4">
          <i class="bi bi-house fs-1"></i>
        </div>
        <h3 class="fw-bold mt-4">
          It’s easy
        </h3>

        <p class="text-secondary">
          Create a listing in just a few steps,
          and get 1:1 support from experienced
          hosts at any time.
        </p>

      </div>

      <div class="col-md-4">
        <div class="bg-white shadow-sm rounded-4 d-inline-flex 
        justify-content-center align-items-center p-4">
          <i class="bi bi-cash-stack fs-1"></i>
        </div>

        <h3 class="fw-bold mt-4">
          It’s worth it
        </h3>

        <p class="text-secondary">
          Getting started is free. You set your price,
          and we only collect a fee after you’ve got paid.
        </p>

      </div>

      <div class="col-md-4">
        <div class="bg-white shadow-sm rounded-4 d-inline-flex 
        justify-content-center align-items-center p-4">
          <i class="bi bi-shield-check fs-1"></i>
        </div>

        <h3 class="fw-bold mt-4">
          You’re protected
        </h3>

        <p class="text-secondary">
          Peace of mind for your home and belongings
          every time you host on Airbnb.
        </p>

      </div>

    </div>

    <div class="mt-5 pt-5">
      <h2 class="fw-bold text-danger display-5">
        air<span class="text-dark">cover</span>
      </h2>
      <h1 class="fw-bold display-4 mt-3">
        When you host, <br>
        you’re protected
      </h1>

      <p class="text-secondary fs-4 mt-3">
        Top-to-bottom protection, <br>
        included every time you host.
      </p>

      <div class="w-75 mx-auto mt-5">
        <div class="d-flex justify-content-between 
        border-bottom py-3">
          <span>Up to $3m USD damage protection</span>
          <i class="bi bi-check-lg text-success"></i>
        </div>

        <div class="d-flex justify-content-between 
        border-bottom py-3">
          <span>Up to $1m USD liability insurance</span>
          <i class="bi bi-check-lg text-success"></i>
        </div>

        <div class="d-flex justify-content-between 
        border-bottom py-3">
          <span>24-hour safety line</span>
          <i class="bi bi-check-lg text-success"></i>
        </div>
      </div>

      <p class="text-secondary small mt-4 w-75 mx-auto">
        Host Damage Protection reimburses for certain guest damages during Airbnb stays.
        It’s not insurance and may apply if guests don’t pay.
        Liability insurance is provided by third parties.
      </p>

      <button class="btn btn-dark rounded-pill px-5 py-3 mt-3">
        Learn about AirCover
      </button>
    </div>
  </section>
