<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 text-center text-md-start">
        <h1 class="fw-bold display-5 lh-1">
          Give your business <br>
          a new home
        </h1>
        <p class="text-secondary mt-3">
          Now your service can reach <br>
          millions of people on Airbnb.
        </p>
      </div>

      <div class="col-md-4 text-center">
        <img
        src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=800"
        class="img-fluid rounded-5 shadow"
        alt="mobile">

      </div>

    </div>

    <hr class="my-5">
    <div class="text-center">
      <h1 class="fw-bold display-6">
        Offer what you do best <br>
        with Airbnb Services
      </h1>

      <p class="text-secondary mt-3">
        Airbnb is for more than homes. <br>
        Now it’s for businesses like yours.
      </p>
    </div>

    <div class="row justify-content-center text-center g-4 mt-4">
      <div class="col-6 col-md-2">
        <div class="fs-1">🍱</div>
        <p class="small mt-2">Catering</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">👨‍🍳</div>
        <p class="small mt-2">Chefs</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">💇</div>
        <p class="small mt-2">Hairstyling</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">💄</div>
        <p class="small mt-2">Make-up</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">💆</div>
        <p class="small mt-2">Massage</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🏋️</div>
        <p class="small mt-2">Personal training</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">📸</div>
        <p class="small mt-2">Photography</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🥗</div>
        <p class="small mt-2">Prepared meals</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🧖</div>
        <p class="small mt-2">Spa treatments</p>
      </div>
    </div>

    <div class="text-center mt-5 pt-5">
      <h1 class="fw-bold display-6">
        Welcome a world <br>
        of new customers
      </h1>
      <p class="text-secondary mt-3">
        Reach millions of people travelling and living near you on Airbnb.
      </p>

      <div class="d-flex justify-content-center align-items-center mt-4">

        <img
        src="https://randomuser.me/api/portraits/men/32.jpg"
        class="rounded-circle border border-3 border-white"
        width="60">

        <img
        src="https://randomuser.me/api/portraits/women/44.jpg"
        class="rounded-circle border border-3 border-white ms-n2"
        width="60">

        <img
        src="https://randomuser.me/api/portraits/women/68.jpg"
        class="rounded-circle border border-3 border-white ms-n2"
        width="80">

        <img
        src="https://randomuser.me/api/portraits/men/46.jpg"
        class="rounded-circle border border-3 border-white ms-n2"
        width="60">

        <img
        src="https://randomuser.me/api/portraits/women/65.jpg"
        class="rounded-circle border border-3 border-white ms-n2"
        width="60">

      </div>
      <h3 class="fw-bold mt-4">
        390 million guests
      </h3>
      <p class="small text-secondary">
        arrived in 2024
      </p>
    </div>
  </section>
