<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <div class="mx-auto" style="max-width: 850px;">

      <h3 class="fw-bold mb-4">
        $3m USD damage protection
      </h3>

      <p class="text-secondary small">
        If guests do not pay for the damage caused to your home and belongings,
        Host damage protection is in place that reimburses costs up to $3M USD,
        including these specialised protections.
      </p>

      <div class="row mt-5 g-4">
        <div class="col-md-6 border-bottom pb-4">
          <h5 class="fw-bold">
            Art & valuables
          </h5>

          <p class="text-secondary small mb-0">
            Get reimbursed for damaged art or valuables.
          </p>
        </div>

        <div class="col-md-6 border-bottom pb-4">
          <h5 class="fw-bold">
            Auto & boat
          </h5>

          <p class="text-secondary small mb-0">
            Get reimbursed for damage to cars, boats and
            other watercraft that you park or store at your home.
          </p>
        </div>

        <div class="col-md-6 border-bottom pb-4">
          <h5 class="fw-bold">
            Pet damage
          </h5>

          <p class="text-secondary small mb-0">
            Get reimbursed for damage caused by a guest’s pet.
          </p>
        </div>

        <div class="col-md-6 border-bottom pb-4">
          <h5 class="fw-bold">
            Income loss
          </h5>

          <p class="text-secondary small mb-0">
            If you have to cancel Airbnb bookings due to guest damage,
            you’ll be compensated for the lost income.
          </p>
        </div>

        <div class="col-md-6 border-bottom pb-4">
          <h5 class="fw-bold">
            Deep cleaning
          </h5>

          <p class="text-secondary small mb-0">
            Get reimbursed for extra cleaning services required
            to remove stains and smoke odours.
          </p>
        </div>
      </div>

      <div class="border-bottom py-4 mt-4">
        <h4 class="fw-bold">
          $1m USD liability insurance
        </h4>

        <p class="text-secondary small mb-0">
          Protection in the rare event that a guest gets hurt
          or their belongings are damaged or stolen.
        </p>
      </div>

      <div class="border-bottom py-4">
        <h4 class="fw-bold">
          24-hour safety line
        </h4>

        <p class="text-secondary small mb-0">
          If you ever feel unsafe, our app provides one-tap access
          to specially trained safety agents, day or night.
        </p>

      </div>

      <p class="small text-secondary mt-4">
        Find complete details on how AirCover for Hosts protects you
        and any exclusions that apply.
      </p>
    </div>

    <div class="text-center mt-5 pt-5">
      <h1 class="fw-bold display-5">
        Only Airbnb gives you AirCover
      </h1>
    </div>

    <div class="mx-auto mt-5" style="max-width: 850px;">
      <div class="row border-bottom pb-3 fw-bold text-center">
        <div class="col-6 text-start">
        </div>

        <div class="col-3">
          Airbnb
        </div>

        <div class="col-3">
          Competitors
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Guest identity verification
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Reservation screening
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>


      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          $3m USD damage protection
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Art & valuables
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Auto & boat
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Pet damage
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Income loss
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          Deep cleaning
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          $1m USD liability insurance
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>
      </div>

      <div class="row border-bottom py-3 align-items-center">
        <div class="col-6">
          24-hour safety line
        </div>

        <div class="col-3 text-center text-success">
          <i class="bi bi-check-lg"></i>
        </div>

        <div class="col-3 text-center text-danger">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>
      <p class="small text-secondary mt-4">
        Comparison is based on public information and free offerings
        by top competitors.
      </p>
    </div>
  </section>

