<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold display-6">
        Get started as a host
      </h1>
      <a href="#" class="text-dark">
        Show all
      </a>
    </div>

    <div class="row g-4">

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">

          <div class="card-body px-0">
            <h5 class="card-title">
              Upgrades to help you host
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Exploring your hosting tools
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Helping your listing stand out
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1517841905240-472988babdf9?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Managing your calendar
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-5 mb-4">
      <h1 class="fw-bold display-6">
        Deliver 5-star hospitality
      </h1>
      <a href="#" class="text-dark">
        Show all
      </a>
    </div>

    <div class="row g-4">
      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Welcoming your first guests
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1484154218962-a197022b5858?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
           <h5 class="card-title">
              Preparing your space
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Refreshing your listing
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1494526585095-c41746248156?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">
          <div class="card-body px-0">
            <h5 class="card-title">
              Using guest reviews to improve
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-5 mb-4">
      <h1 class="fw-bold display-6">
        Your Airbnb tools
      </h1>

      <a href="#" class="text-dark">
        Show all
      </a>
    </div>

    <div class="row g-4">
      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">

          <div class="card-body px-0">
            <h5 class="card-title">
              Reviewing your price
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">

          <div class="card-body px-0">
            <h5 class="card-title">
              Messaging with guests
            </h5>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1494526585095-c41746248156?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">

          <div class="card-body px-0">
            <h5 class="card-title">
              Comparing similar listings
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-0 bg-transparent">
          <img
          src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=800"
          class="card-img-top rounded-4"
          alt="img">

          <div class="card-body px-0">
            <h5 class="card-title">
              Managing your prices
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
