<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <h1 class="fw-bold display-6 mb-5">
      Airbnb’s official global host forum
    </h1>

    <div class="bg-white rounded-4 p-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold">
          Featured Conversations
        </h4>

      </div>

      <div class="row g-4">
        <div class="col-md-6">
          <div class="card border rounded-4 h-100">
            <div class="card-body">
              <div class="d-flex align-items-center gap-3 mb-3">
                <img
                src="https://randomuser.me/api/portraits/men/32.jpg"
                class="rounded-circle"
                width="50"
                height="50">
                <div>
                  <h6 class="fw-bold mb-0">
                    Lazrmoo
                  </h6>

                  <small class="text-secondary">
                    Level 10
                  </small>
                </div>
              </div>

              <h5 class="fw-bold">
                One Small Win! ✨
              </h5>

              <p class="text-secondary small">
                We always hear about big bookings,
                but what is one tiny thing that made you smile
                as a host this week?
              </p>

              <a href="#" class="text-dark fw-bold small">
                Latest reply
              </a>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card border rounded-4 h-100">
            <div class="card-body">
              <div class="d-flex align-items-center gap-3 mb-3">
                <img
                src="https://randomuser.me/api/portraits/men/45.jpg"
                class="rounded-circle"
                width="50"
                height="50">
                <div>
                  <h6 class="fw-bold mb-0">
                    Paula
                  </h6>

                  <small class="text-secondary">
                    Community Manager
                  </small>
                </div>
              </div>

              <h5 class="fw-bold">
                Do you set a minimum number of nights for bookings?
              </h5>

              <p class="text-secondary small">
                Hello hosts! Here are many strategies
                to implement when trying to get as many bookings as possible.
              </p>

              <a href="#" class="text-dark fw-bold small">
                Latest reply
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">

        <h3 class="fw-bold">
          What hosts are saying
        </h3>

        <button class="btn btn-outline-secondary rounded-pill px-4">
          Top
          <i class="bi bi-chevron-down ms-2"></i>
        </button>
      </div>


      <div class="border-bottom py-4">
        <div class="d-flex gap-3">
          <img
          src="https://randomuser.me/api/portraits/women/44.jpg"
          class="rounded-circle"
          width="60"
          height="60">

          <div>
            <small class="text-primary fw-bold">
              Support with your bookings
            </small>

            <h5 class="fw-bold mt-2">
              Are you actively using the video message feature?
            </h5>

            <p class="text-secondary small">
              If anyone Airbnb video message feature feels like
              one of those tools that could really help make guest communication feel more personal.
            </p>

            <div class="d-flex gap-3 flex-wrap">
              <span class="fw-bold small">
                Rebecca
              </span>

              <span class="small text-secondary">
                Community Manager
              </span>

              <span class="small text-secondary">
                Yesterday
              </span>

              <span class="small text-secondary">
                20 Replies
              </span>

              <span class="small text-secondary">
                17 Likes
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="border-bottom py-4">
        <div class="d-flex gap-3">
          <img
          src="https://randomuser.me/api/portraits/men/45.jpg"
          class="rounded-circle"
          width="60"
          height="60">
          <div>
            <small class="text-primary fw-bold">
              Support with your bookings
            </small>

            <h5 class="fw-bold mt-2">
              Do you leave a review for all your guests?
            </h5>

            <p class="text-secondary small">
              Hosts leave reviews as one of the most discussed topics
              in the community because of their impact.
            </p>

            <div class="d-flex gap-3 flex-wrap">

              <span class="fw-bold small">
                Paula
              </span>

              <span class="small text-secondary">
                Community Manager
              </span>

              <span class="small text-secondary">
                Sunday
              </span>

              <span class="small text-secondary">
                70 Replies
              </span>
              <span class="small text-secondary">
                17 Likes
              </span>
           </div>
          </div>
        </div>
      </div>


      <div class="border-bottom py-4">
        <div class="d-flex gap-3">
          <img
          src="https://randomuser.me/api/portraits/women/68.jpg"
          class="rounded-circle"
          width="60"
          height="60">

          <div>
            <small class="text-primary fw-bold">
              Support with your bookings
            </small>

            <h5 class="fw-bold mt-2">
              How do you decide whether to accept or decline a guest?
            </h5>

            <p class="text-secondary small">
              I recently had an interesting experience.
              Wanted to hear your thoughts about it.
            </p>

            <div class="d-flex gap-3 flex-wrap">
              <span class="fw-bold small">
                Patricia526
              </span>

              <span class="small text-secondary">
                Level 2
              </span>

              <span class="small text-secondary">
                Yesterday
              </span>

              <span class="small text-secondary">
                7 Replies
              </span>

              <span class="small text-secondary">
                7 Likes
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="border-bottom py-4">
        <div class="d-flex gap-3">
          <div class="bg-danger text-white rounded-circle d-flex 
          justify-content-center align-items-center"
          style="width:60px; height:60px;">

            <i class="bi bi-airbnb fs-3"></i>
          </div>

          <div>
            <small class="text-primary fw-bold">
              Airbnb updates
            </small>

            <h5 class="fw-bold mt-2">
              Relief begins at home
            </h5>

            <p class="text-secondary small">
              Watch live video and see how relief begins at home
              with Airbnb.org and emergency housing.
            </p>

            <div class="d-flex gap-3 flex-wrap">
              <span class="fw-bold small">
                Airbnb
              </span>

              <span class="small text-secondary">
                Official Account
              </span>

              <span class="small text-secondary">
                15-05-2026
              </span>

              <span class="small text-secondary">
                2 Replies
              </span>

              <span class="small text-secondary">
                6 Likes
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="py-4">
        <div class="d-flex gap-3">
          <img
          src="https://randomuser.me/api/portraits/men/55.jpg"
          class="rounded-circle"
          width="60"
          height="60">
          <div>
            <small class="text-primary fw-bold">
              Help with your business
            </small>

            <h5 class="fw-bold mt-2">
              Renting a home during exterior renovation
            </h5>

            <p class="text-secondary small">
              Looking for advice from experienced hosts
              on the best way to handle this situation.
            </p>

            <div class="d-flex gap-3 flex-wrap">
              <span class="fw-bold small">
                John7224
              </span>

              <span class="small text-secondary">
                Level 2
              </span>

              <span class="small text-secondary">
                14-05-2026
              </span>

              <span class="small text-secondary">
                4 Replies
              </span>

              <span class="small text-secondary">
                5 Likes
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
