<% layout("/layouts/privacyBoilerplate.ejs") %>
  <section class="container py-4">
    <div class="d-flex align-items-center gap-2 small mb-5">

      <a href="#" class="text-dark text-decoration-none">
        Home
      </a>

      <i class="bi bi-chevron-right text-secondary"></i>

      <a href="#" class="text-dark text-decoration-none">
        All topics
      </a>

      <i class="bi bi-chevron-right text-secondary"></i>

      <span class="text-secondary">
        Local rules and regulations
      </span>

    </div>

    <div class="row">
      <div class="col-md-8">

        <h1 class="fw-bold display-5 mb-4">
          Local rules and regulations
        </h1>

        <p class="fs-6 lh-base">
          These responsible hosting articles can help you start learning
          what it takes to be a host in your region. Each article has
          information about situational and location-based rules,
          including laws, regulations, taxation, best practices,
          and other considerations that apply to hosts of places
          to stay on Airbnb.
        </p>


        <div class="mt-5 d-flex flex-column gap-4">
         <a href="#" class="fs-4 text-dark">
            Asia-Pacific
          </a>

          <a href="#" class="fs-4 text-dark">
            Europe
          </a>

          <a href="#" class="fs-4 text-dark">
            North America
          </a>

          <a href="#" class="fs-4 text-dark">
            South America
          </a>

          <a href="#" class="fs-4 text-dark">
            Africa
          </a>
        </div>
      </div>


      <div class="col-md-4 mt-5 mt-md-0">
        <h2 class="fw-bold mb-4">
          Related topics
        </h2>
        <div class="d-flex flex-column gap-4">

          <a href="#" class="fs-5 text-dark">
            About hosting
          </a>

          <a href="#" class="fs-5 text-dark">
            Calendar and bookings
          </a>

          <a href="#" class="fs-5 text-dark">
            Payouts and taxes
          </a>

          <a href="#" class="fs-5 text-dark">
            Managing your home listing
          </a>

          <a href="#" class="fs-5 text-dark">
            Managing your experience
          </a>

          <a href="#" class="fs-5 text-dark">
            Your reservations
          </a>

          <a href="#" class="fs-5 text-dark">
            About Airbnb
          </a>

          <a href="#" class="fs-5 text-dark">
            Your account
          </a>

          <a href="#" class="fs-5 text-dark">
            Safety
          </a>

          <a href="#" class="fs-5 text-dark">
            Legal Terms
          </a>

        </div>
      </div>
    </div>
  </section>

