<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <div class="text-center">
      <h1 class="fw-bold display-6">
        Not sure where to start?
      </h1>
      <p class="text-secondary">
        Share a few details and we’ll contact you to answer any questions
        and help you find a co-host to meet your needs.
      </p>
    </div>


    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <input
              type="text"
              class="form-control"
              placeholder="Name">
            </div>

            <div class="col-md-6">
             <input
              type="email"
              class="form-control"
              placeholder="Email">
            </div>

            <div class="col-md-4">
              <select class="form-select">
                <option>India</option>
                <option>USA</option>
                <option>Canada</option>
              </select>
            </div>

            <div class="col-md-4">
              <input
              type="text"
              class="form-control"
              placeholder="Postcode">

            </div>

            <div class="col-md-4">
              <input
              type="text"
              class="form-control"
              placeholder="Phone number">
            </div>
          </div>

          <p class="small text-secondary text-center mt-4">
            By selecting “Get help”, you agree to be contacted by Airbnb
            and its partners about the Co-Host Network via email or phone.
          </p>
          <div class="text-center mt-4">
           <button class="btn btn-dark px-5 rounded-pill">
              Get help
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="text-center mt-5 pt-5">
      <h1 class="fw-bold display-5">
        Co-hosts take care of your <br>
        home and guests
      </h1>

      <p class="text-secondary fs-5 mt-3">
        Find full-service support that’s tailored to fit your needs.
      </p>
    </div>

    <div class="row justify-content-center text-center g-5 mt-5">
      <div class="col-6 col-md-2">
        <div class="fs-1">🏠</div>
        <p class="mt-2">Listing setup</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🪙</div>
        <p class="mt-2">Pricing and availability</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">📅</div>
        <p class="mt-2">Reservations</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">💬</div>
        <p class="mt-2">Guest messaging</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🔑</div>
        <p class="mt-2">On-site support</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🧹</div>
        <p class="mt-2">Cleaning</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">📷</div>
        <p class="mt-2">Photography</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">🪑</div>
        <p class="mt-2">Interior design</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">📋</div>
        <p class="mt-2">Licensing and permits</p>
      </div>

      <div class="col-6 col-md-2">
        <div class="fs-1">✏️</div>
        <p class="mt-2">Additional services</p>
      </div>
    </div>


    <div class="text-center mt-5 pt-5">
      <h1 class="fw-bold display-5">
        Local co-hosts do it best
      </h1>
      <p class="text-secondary fs-5 mt-3">
        Co-hosts in your area can help navigate local regulations
        and make your place stand out.
      </p>
    </div>


    <div class="row justify-content-center g-4 mt-5">
      <div class="col-md-4">
        <div class="card border-0 rounded-5 shadow-sm text-center p-4">
          <img
          src="https://randomuser.me/api/portraits/women/44.jpg"
          class="rounded-circle mx-auto"
          width="100"
          height="100">

          <div class="card-body">
            <h3 class="fw-bold">
              Sara
            </h3>
            <p class="text-secondary small">
              Paso Robles, CA
            </p>

            <div class="row mt-4">
              <div class="col border rounded-4 py-2">
                <h6 class="fw-bold mb-0">
                  ★ 5.0
                </h6>
                <small class="text-secondary">
                  guest rating
                </small>
              </div>

              <div class="col border rounded-4 py-2 ms-2">
                <h6 class="fw-bold mb-0">
                  8
                </h6>
                <small class="text-secondary">
                  years hosting
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 rounded-5 shadow-sm text-center p-4">
          <img
          src="https://randomuser.me/api/portraits/men/32.jpg"
          class="rounded-circle mx-auto"
          width="100"
          height="100">

          <div class="card-body">
            <h3 class="fw-bold">
              Kam
            </h3>

            <p class="text-secondary small">
              London, United Kingdom
            </p>

            <div class="row mt-4">
              <div class="col border rounded-4 py-2">
                <h6 class="fw-bold mb-0">
                  ★ 5.0
                </h6>
                <small class="text-secondary">
                  guest rating
                </small>
              </div>

              <div class="col border rounded-4 py-2 ms-2">
                <h6 class="fw-bold mb-0">
                  9
                </h6>
                <small class="text-secondary">
                  years hosting
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card border-0 rounded-5 shadow-sm text-center p-4">
          <img
          src="https://randomuser.me/api/portraits/women/68.jpg"
          class="rounded-circle mx-auto"
          width="100"
          height="100">

          <div class="card-body">
            <h3 class="fw-bold">
              Gloria
            </h3>

            <p class="text-secondary small">
              Madrid, Germany
            </p>

            <div class="row mt-4">
              <div class="col border rounded-4 py-2">
                <h6 class="fw-bold mb-0">
                  ★ 5.0
                </h6>
                <small class="text-secondary">
                  guest rating
                </small>
              </div>

              <div class="col border rounded-4 py-2 ms-2">
                <h6 class="fw-bold mb-0">
                  7
                </h6>
                <small class="text-secondary">
                  years hosting
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-dark rounded-pill px-5">
        <i class="bi bi-search me-2"></i>
        Find a co-host
      </button>
    </div>
  </section>
