<% layout("/layouts/privacyBoilerplate.ejs") %>

  <section class="container py-5">
    <div class="text-center">
      <h3 class="fw-bold display-4">
        Refer a host, earn a cash reward
      </h3>
      <h4 class="fw-bold mt-5">
        What type of host are you referring?
      </h4>
    </div>

    <div class="row justify-content-center g-4 mt-5">
      <div class="col-md-4">
        <div class="card rounded-4 border shadow-sm p-4 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h3 class="fw-bold">
                Home
              </h3>
              <p class="text-secondary fs-5 mb-0">
                You could earn
                <span class="fw-bold text-dark">
                  ₹1,926–₹3,370.
                </span>
              </p>
            </div>
            <div class="fs-1">
              🏠
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card rounded-4 border shadow-sm p-4 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h3 class="fw-bold">
                Experience
              </h3>
              <p class="text-secondary fs-5 mb-0">
                You could earn
                <span class="fw-bold text-dark">
                  ₹4,815.
                </span>
              </p>
            </div>
           <div class="fs-1">
              🎈
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded-4 border shadow-sm p-4 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h3 class="fw-bold">
                Service
              </h3>
              <p class="text-secondary fs-5 mb-0">
                You could earn
                <span class="fw-bold text-dark">
                  ₹9,630.
                </span>
              </p>
            </div>
            <div class="fs-1">
              🛎️
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-secondary btn-lg px-5 rounded-4" disabled>
        Share referral link
      </button>
    </div>

    <div class="text-center mt-5">
      <a href="#" class="text-dark fs-5">
        How host referrals work
      </a>

    </div>
  </section>